{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    {# 背景動画を表示させるスタイルを読み込みます。#}
    <link href="/assets/css/video.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    {# セッションデータがない場合#}
    {% if session.user_info  =="" %}
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header text-center">
                    <h1 style="font-size: 100px;color: red;background: rgba(255, 255, 128, .5);">ツイグ</h1>
                </div>
                <div class="box">
                    <div class="row">
                        <div class="col-md-12">
                            <video id="bg-video" src="/assets/img/bg.mp4" playsinline autoplay loop></video>
                            <div id="filter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {# セッションデータがある場合#}
    {% else %}
    <div class="card">
        <h5 class="card-header">予約状況</h5>
        <div class="card-body">
            <p class="card-text">現在予約はありません</p>
            <a href="#" class="btn btn-primary">予約する</a>
        </div>
    </div>

    <hr>
    {% for event in events %}
    <div class="card-group">
        <div class="card">
            <img src="{{ event.img_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.place }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
    {% endif %}

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
