{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
  {# 背景動画を表示させるスタイルを読み込みます。#}
  <style>
    /* .container {
      width: 100%;
    } */
  </style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 top1">
        <img class="img-fluid" src="assets/img/top1-1.jpg">
        <div id="img-box-mini"class="col-6 offset-3" >
          <a class="Link"href="../register/"></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
